$text-main: #101214;
$text-italik: #73808D;
$tex-special: #2aaee7;
$text-light: #FFFFFF;
$links-color: #FF69B4;
$project-color:  rgba(238,174,202,1);
$background-color-project-text: rgba(42,174,231,0.1);

$content-width: 1280px;
$tablet-width: 746px;
$mobile-width: 320px;

